<div data-hook="admin_banner_form_fields">
	<div class="clearfix">
		<div class="left" data-hook="admin_banner_form_left">
			<%= f.field_container :category do %>
				<%= f.label :category, t(:category) %> <span class="required">*</span><br />
				<%= f.text_field :category, :class => 'fullwidth title' %>
				<%= f.error_message_on :category %>
			<% end %>

			<%= f.field_container :url do %>
				<%= f.label :url, t(:url) %><br />
				<%= f.text_field :url, :class => 'fullwidth title' %>
				<%= f.error_message_on :url %>
			<% end %>

			<%= f.field_container :attachment do %>
				<%= f.label :attachment, t(:attachment) %><br />
				<%= f.file_field :attachment %>
				<%= f.error_message_on :attachment %>
			<% end %>
		</div>
		<div class="right" data-hook="admin_banner_form_right">
			<%= f.field_container :attachment_width do %>
				<%= f.label :attachment_width, t(:attachment_width) %> <span class="required">*</span><br />
				<%= f.text_field :attachment_width, :class => 'fullwidth title' %>
				<%= f.error_message_on :attachment_width %>
			<% end %>

			<%= f.field_container :attachment_height do %>
				<%= f.label :attachment_height, t(:attachment_height) %> <span class="required">*</span><br />
				<%= f.text_field :attachment_height, :class => 'fullwidth title' %>
				<%= f.error_message_on :attachment_height %>
			<% end %>

			<%= f.field_container :position do %>
				<%= f.label :position, t(:position) %><br />
				<%= f.text_field :position, :class => 'fullwidth title' %>
				<%= f.error_message_on :position %>
			<% end %>

			<%= f.field_container :enabled do %>
				<%= f.label :enabled, t(:enabled) %><br />
				<%= f.check_box :enabled %>
				<%= f.error_message_on :enabled %>
			<% end %>
		</div>
	</div>
</div>
