<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("banner.new_banner"), spree.new_admin_banner_path, :icon => 'add' %>
    </li>
  </ul>
  <br class="clear" />
</div>

<h1><%= t("banner.many") %></h1>

<table class="index sortable" data-hook data-sortable-link="<%= update_positions_admin_banners_url %>">
	<tr>
		<th><%= t("banner.category") %></th>
		<th><%= t("banner.position") %></th>
		<th><%= t("banner.enable") %></th>
		<th><%= t(:action) %></th>
	</tr>
	<tbody>
		<% @banners.each do |banner| %>
		<tr class="<%= cycle('even', 'odd') %>" id="<%= dom_id banner %>">
			<td>
				<span class="handle"></span>
				<%= banner.category %>
			</td>
			<td><%= banner.position %></td>
			<td><%= icon('tick') if banner.enabled %></td>
			<td>
				<%= link_to_edit banner %> &nbsp;
				<%= link_to_delete banner %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>